<div id="updateProgressModal" class="update-modal" hidden>
    <div class="update-modal-content">
        <h3>Installing update</h3>
        <p id="updateStatusText">Checking components...</p>

        <div id="updateSpinner" class="update-spinner" hidden></div>

        <div class="update-progress-wrap">
            <div id="updateProgressBar" class="update-progress-bar" style="width:0%"></div>
        </div>
        <p id="updateProgressValue">0%</p>

        <button id="updateCancelButton" type="button" class="btn-link" disabled>Cancel</button>
    </div>
</div>
